.emoji {
    &.party-popper {
        width:100px !important;
        vertical-align: middle !important;
        margin-bottom: 20px !important;
    }

    &.eye {
        width:100px !important;
        vertical-align: middle !important;
    }

    &.mouth {
        width:100px !important;
        vertical-align: middle !important;
    }
}